:where(.wp-site-blocks *:focus) {
	outline: none !important;
}

.gfield_consent_label {
	cursor: pointer;
}

@media (max-width: 767.98px) {
	.wp-block-columns.mobile-reverse-rows {
		flex-direction: column-reverse;
	}
}